body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
  /*background: #69f8f8;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/fondo23.jpg);
}

.titulo{
  color: #000;
}

.leaderboard {
  width: 800px;
  background-color: wheat;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 40px;
  box-sizing: border-box;
  opacity: 0.8;
  font-size: 30px;
}

.encabezado h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  text-align: center;
  /*font-style: italic;*/
  color: black;

}

.leaderboard h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 2px solid #808080;
  padding-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #808080;
}

th {
  background: rgb(220, 220, 220);
}

.btn-close {
  display: block;
  width: 100%;
  padding: 10px;
  background: #39ffd4;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-close:hover {
  background: #4afef2;
}


  /* para que los botones se muevan */
  button span{
    position: absolute;
    display: block;
  }
  button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
  }
  
  @keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
  }
  button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
  }
  @keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
  }
  button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
  }
  @keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
  }
  
  button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
  }
  @keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
  }
  
  button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
  }
  button:hover span{
    animation-play-state: paused;
  }
  